footer {
    text-align: center;
    margin: 2rem 2rem;
    font-size: 0.9rem;

    // desktop size styles
    @include screenSize($desktopScreenSize) {
        & {
            text-align: left;
        }
    }
}
