%flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.site-header {
    @extend %flex-container;
    height: 100%;
    min-width: 400px;
    max-width: 100%;
    padding: 1rem;

    @include screenSize($tabletScreenSize) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        
        img {
            margin: 0 4rem;
        }
    }
}

.search-flex-container {
    @extend %flex-container;
    align-items: center;

    @include screenSize($tabletScreenSize) {
        position: relative;
        top: -0.8rem;
    }

    p {
        font-size: 0.8rem;
        margin: 0.5rem 0;

        @include screenSize($tabletScreenSize) {
            margin: 0 0 0.5rem 0;
        }
    }
    // sections
    .sections {
        background-color: white;
        width: 125px;
        height: 25px;
        font-size: 1.1rem;
        text-transform: capitalize;
    }
}

.header-transition {
    transition: 
    height 1s ease-in-out 0.5s,
    margin 1s ease-in-out 0.5s;

    img {
        max-height: 80%;
        // tablet size styles
        @include screenSize($tabletScreenSize) {
            height: 100%;
        }
    }
    &--up {
        @extend .header-transition;
        min-height: 25%;
        margin-top: 2rem;

        // tablet size styles
        @include screenSize($tabletScreenSize) {
            img {
                max-height: 80%;
            }
            & {
                min-height: 10%;
            }
        }
    }
    &--reset {
        @extend .header-transition;
        
        img {
            height: auto;
        }
    }
}

