%flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.site-header {
    @extend %flex-container;
    height: 100%;
    min-width: 400px;
    padding: 1rem;

    // tablet size styles
    @include screenSize($tabletScreenSize) {
        background-color: blue;
    }
}

.search-flex-container {
    @extend %flex-container;
    align-items: center; 

    p {
        font-size: 0.8rem;
        margin: 0.5rem 0;
    }
    // sections
    .sections {
        background-color: white;
        width: 125px;
        height: 25px;
        font-size: 1.1rem;
        text-transform: capitalize;
    }
}

.header-transition {
    transition: 
        height 1s ease-in-out 0.5s,
        margin 1s ease-in-out 0.5s;

    img {
        height: auto;
        min-height: 25%;
    }

    &--up {
        @extend .header-transition;
        height: 25%;
        min-height: 25%;
        margin-top: 3rem;
    }
    &--reset {
        @extend .header-transition;
        height: 100%;
    }
}

