.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;

    // desktop size styles
    @include screenSize($desktopScreenSize) {
        & {
            max-width: 1600px;
        }
    }
}

.content-container {
    @extend .container;
    align-items: center;

    ul.stories {
        @extend .container;
        list-style-type: none;
        display: block;
        width: 100%;

        @include screenSize($tabletScreenSize) {
            & {
                display: flex;
                flex-flow: row wrap;
            }
        }

        li {
            text-decoration: none;
            color: black;

            .story-container {
                width: 100%;
                height: 420px;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                & .story-abstract {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background: rgba(0,0,0,.6);
                    padding: 2%;
                    line-height: 1.5;
                }

            }
        }
    }
}

.content-loader {
    height: 50px;
    width: 50px;
    display: none;
}

.main-content {
    margin-top: 2rem;
}


// tablet size styles
@include screenSize($tabletScreenSize) {
    .story-item {
        width: 50%;
    }

    .main-content {
        margin-top: 1.5rem;
    }
}

// desktop size styles
@include screenSize($desktopScreenSize) {
    .story-item {
        flex: 0 1 25%;
        max-width: 25%;
    }
}


